* {margin: 0; padding: 0;}

.anh {
    background-image: url(111.jpg);
    width: 1200px;
    height: 900px;
    margin: auto;
    box-shadow: 0 1px 10px 0 black;
}

.anhsp1 {
    width: 1200px;
    height: 448px;
    display: flex;
    margin: auto;
    margin-top: 50px;
    justify-content: space-between;
}

p.a4 {
    background-image: url(44.png);
    width: 290px;
    height: 87%;
    background-color: black;
    background-size: contain;
    box-shadow: 0px 1px 10px 0px #757575;
}

p.a3 {
    background-image: url(33.png);
    width: 290px;
    height: 87%;
    background-color: black;
    background-size: contain;
    box-shadow: 0px 1px 10px 0px #757575;
}

p.a2 {
    background-image: url(22.png);
    width: 290px;
    height: 87%;
    background-color: black;
    background-size: contain;
    box-shadow: 0px 1px 10px 0px #757575;
}

p.a1 {
    background-image: url(11.png);
    width: 290px;
    height: 87%;
    background-color: black;
    background-size: contain;
    box-shadow: 0px 1px 10px 0px #757575;
}

p.anh2 {
    width: 390px;
    height: 100%;
    background-image: url(Poster.jpg);
    background-size: cover;
    box-shadow: 0 1px 10px 0 #757575;
}

p.anh1 {
    width: 780px;
    height: 448px;
    background-image: url(1.jpg);
    background-size: contain;
    margin-right: 30px;
    box-shadow: 0px 1px 10px 0px #757575;
}

.anhsp {
    width: 1200px;
    height: 448px;
    display: flex;
    margin: auto;
    margin-top: 100px;
}

h1.tdchinh {
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    background: url(BG.png);
    background-position-y: 346px;
    background-position-x: center;
    color: white;
}

body {
    text-align: center;
}